# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.vs/Store/FileContentIndex/288441fd-3210-463f-a471-d90008f1d462.vsidx
.vs/Store/FileContentIndex/f15951e3-f387-49ff-8283-13a20bd553cc.vsidx
.vs/Store/FileContentIndex/474d5400-25b4-432b-917c-290ae1d24032.vsidx
